/* Portfolio Mk1 CSS  */


/* Fonts and such */
body{
font-family: 'Work+Sans', sans-serif;
background-color:#BBB4A1;
color:#1E1D1B;
}

h1, h2, h3{
font-family: 'Roboto', sans-serif;
}

.navbar > div > ul > .nav-item > .nav-link{
font-family: 'Roboto', sans-serif;
}

a{
color:#2B73AA;
}

.dy-flex{
display:flex;
}

.mgx-aut{
margin-right:auto;
margin-left:auto;
}

/*  Nav Bar CSS  */
nav{
background-color: #B99A7C;
height:48px;
box-shadow: 0 .125rem .25rem rgba(0,0,0,.15);
width:100%;
}


.navbar > div{
background-color: transparent;

}

.navbar-brand{
margin-top:5px;
margin-bottom:3px;
}

.nav-link{
color:#464646;
}

.nav-item{
margin-top:-2.5px;
height:38px;
border-radius:2px;
border:2px solid rgba(70,70,70,0.0);

}


.active {
border:1px solid rgba(70,70,70,0.45);
margin-top:-2.5px;
height:38px;
color:#1E1D1B;
box-shadow: 0 .125rem .15rem rgba(0,0,0,.15);
border-radius:2px;
}

.navbar > div > ul > .active >.nav-link{
color:#1E1D1B;
}


.nav-item:hover{
border:1px solid rgba(70,70,70,0.45);
margin-top:-2.5px;
height:38px;
border-radius:2px;
box-shadow: 0 .125rem .15rem inset rgba(0,0,0,.15);
}

.nav-link:hover{
color:#1E1D1B;
}


/*  About Me CSS  */


.about-img{
height:250px;
width:250px;
margin-top:75px;
margin-bottom:75px;
display:block;
box-shadow: 0 .125rem .25rem rgba(0,0,0,.5)
}


.intro-box{
background-color: #F1EACF;
border-radius:3px;
height:1000px;
width:60%;
margin:12vh 20% 20vh 20%;
padding:5px;
box-shadow: 0 .125rem .5rem rgba(0,0,0,.5);

}
    
.section-heading{
margin:20px;
/*text-shadow: 3px 2px rgba(0,0,0,.075); */
}    

.sec-sub-head{
/* text-shadow: 3px 2px rgba(0,0,0,.075);
margin-bottom:20px;*/
} 

.intro-p{
width:75%;

}

.summary-card{
width:80%;
height:250px;
padding:5vh auto 10vh auto;
background-color:#FFFAE7;
margin-top:7vh;
box-shadow: 0 .125rem 1rem rgba(0,0,0,.5);
}

.intro-inset{ 
height:75%;
width:1px;
position:absolute;
background-color:#585350;
filter:opacity(25%);
display:block;
margin:0;
padding: 0;
}

.divright{
/* How to reinvent the wheel lmao */
left:66%;
top:12.5%;
}

.divleft{
left:33%;
top:12.5%;
}

.sum-col{
width:25%;
}

.sum-list{
list-style-type:none;
}

.sum-icon{
font-size:50px;  
margin:30px;
}

.sum-heading{
margin:30px 20px 15px 20px;
}
    
.sec-indiv{
display:none;
}    
    
/*  Project showcase CSS  */


.showcase-heading{
padding:30px;
}


.fore-card{
z-index:1;
top:30px;
left:30px;
width:auto;
height:870px;
border-radius:2px;
position:relative;
background-color: #F1EACF;
box-shadow: 0 .125rem 1rem rgba(0,0,0,.5);
}

.back-card{
top:-25px;
left:-25px;
width:75%;
height:870px;
position:relative;
border-radius:2px;
background-color:#7E2C2E;
box-shadow: 0 .125rem .5rem rgba(0,0,0,.5);
}

.showcase-p{
width: 75%;

}   

#grid-id{
padding:30px;
height:600px;
}


.card-filled{
border:none;
}



#grid-id > .card-deck > .card{
max-width: 24rem;
height:15rem;
/* border:none; */
background-color:rgba(255,250,231,0.90);
}



#grid-id > .card-deck > .card > i{
font-size: 10rem;
filter: blur(3px) opacity(0.25);
}

.card-head-ct{
margin-top:71.5px;
color: inherit;
background-color:transparent;
}

.card-head{
height:2rem;
padding-top:6rem;
}

#grid-id > .card-deck > .card > .card-img-overlay > .btn{
background-color:#A30004;
color:white;
box-shadow: 0 .125rem .5rem rgba(0,0,0,.5);
}

#grid-id > .card-deck > .card > .card-img-top{
filter:blur(2px) opacity(100%);
height:15rem;
z-index:-1;
}

.card-filled{
background-color:rgba(255,250,231,0.85);
}

#grid-id > .card-deck > .card > .card-img-overlay > .btn:hover{
background-color: #6A0003;
color: white;
box-shadow: 0 .125rem .25rem rgba(0,0,0,.5);
}

#grid-id > .card-deck > .card:hover{
background-color:rgba(255,250,231,0.70);
}



/* Project Highlights CSS */

.hlight-card{
height:175vh;
background-color:#F1EACF ;
border-radius: 2px;
width: 65%;
box-shadow: 0 .125rem .5rem rgba(0,0,0,.5);
margin-top:10vh;
margin-bottom:10vh;
}

.sec-inset{
width:85%;
height:1.25px;
background-color:#1E1D1B;
filter:opacity(25%);
}

.highlight-inset{
width:75%;
height:1px;
background-color:#1E1D1B;
filter:opacity(25%);
margin-top:7vh;
margin-bottom:7vh;
}   


.project-heading{
margin:20px;
border-bottom: 1px solid rgba(0,0,0,.25);
}


.hlight-list{
list-style-type:decimal;
margin:30px;
}

.hlight-p{
margin:20px;
}


.heading-spacing{
margin-top:30px;
margin-bottom:30px;
width:50%;
border-bottom: 1px solid rgba(0,0,0,.25); 
padding:30px 20px 30px 20px; 
}

.project-txt-card{
height:45%;
max-width:40%;
margin-left:5%;
margin-right:5%;
margin-top:3%;
border-radius:5px;
background-color:#FFFAE7;
box-shadow: 0 .125rem .5rem rgba(0,0,0,.5);
}

.project-txt-card > .btn{
background-color:#A30004;
color:white;
font-size:1rem;
box-shadow: 0 .125rem .5rem rgba(0,0,0,.5);
width:100%;
}

.hlight-card > .row{
margin:0;
}

.hlight-card > .row > .col{
width:45%;

}

.pjtxtra-card{
max-width:45%;
margin-bottom:20px;
}

.hlightxtra-head{
padding:20px 10px 5px 10px;
}

.hlightxtra-list{
list-style: lower-roman;
padding:0px;
width:90%;
list-style-position: inside;
}

.hlightxtra-item{
padding-left: 5px;
padding-bottom:5px;
font-size: .95rem;
}

.hlight-xtra{
height:250px;
border-radius: 2px;
background-color:#FFFAE7;
width:85%;
margin:auto auto auto auto;
box-shadow: 0 .125rem .5rem rgba(0,0,0,.5);
}

.hlight-card > .project2 > .col > .hlight-xtra > .card-column{
height:65px;
margin:32px 1vw auto 1vw;
border:1px solid black;
padding:5px;
background-color:rgba(255,255,255,0.95);
} 

.hlight-card > .project2 > .col > .hlight-xtra > .card-column > .card{
height:50px;
width:50px;
margin:2px;
display:inline-block;
border-radius:0;
border-color:#585350;
}

.hlight-img{
padding:5px;
width:27rem;
display:flex;
justify-content: center;
height:16.875rem;
margin-top:12%;
margin-bottom:10%;
margin-right:auto;
margin-left:auto;
border-radius: 3px;
background-color:white;
border:2px solid rgba(50, 50, 50, 0.6);
box-shadow: 0 .125rem .5rem rgba(0,0,0,.5);

}

.cc-att{
font-size: .75rem;
margin-left:5%;
margin-right:5%;
}

.butn{
margin-top:2.5px;
margin-bottom:12.5px;
}

.project-txt-card > .btn:hover{
color:white;
background-color: #6A0003;
width:100%;
box-shadow: 0 .125rem .20rem rgba(0,0,0,.5)
}

/* Contact Me CSS */

.contact{
width:100%;
height:90px;
background-color: #B99A7C;
box-shadow: 0 0 .75rem inset rgba(0,0,0,.5);
}

.contact-title{
top:-30%;
width:33%;
position:relative;
border-radius:5px;
color: white;
background-color:#1E1D1B;
box-shadow: 0 .125rem .75rem  rgba(0,0,0,.25);
}


.contact-p{
width:75%;
}

.social-row{
margin-top: -25px;
height:45px;
}

#contact-me > .social-row   .btn >i{
font-size:30px;
}

#contact-me > .social-row   .btn{

color:black;
height:40px;
width:50px;
margin-left:0px;
margin-right:0px;
padding-left:0px;
padding-right:0px;
border:1px solid rgba(70,70,70,0.00);
border-radius:2px;
}

#contact-me > .social-row   .btn:hover, #contact-me > .social-row   .btn:focus{
border:1px solid rgba(70,70,70,0.45);
height:40px;
width:50px;
margin-left:0px;
margin-right:0px;
padding-left:0px;
border-radius:2px;
padding-right:0px;
background-color: #9A7857;
box-shadow: 0 .125rem .55rem  rgba(0,0,0,.55);

}


 /* CSS Breakpoints */


@media screen and (max-width:1440px) and (min-width:1025px){

body{
font-size:16px;
}

/* About Me */

.intro-box{
width:85%;
margin-right:auto;
margin-left:auto;
}

.summary-card{
width:75%;
}

/* Project Grid */

.back-card{
width:85%;
top:-15px;
left:-15px;
height:750px;
}
.fore-card{
top:20px;
left:20px;
height:750px;
}

.mgx-aut{
margin-right:auto;
margin-left:auto;
}

/* Project Highlights */

.hlight-card{
min-width:85%;
height:1610px;
}

.project-txt-card{
width: 80%;
}



.hlight-img{
width:16rem;
height:10rem;
margin-right:auto;
margin-left:auto;
}



}



@media screen and (max-width: 1024px) and (min-width:600px){

html{
width:100%;
}

body{
font-size:14px;
width:100%;
}

nav{
width:100%;
}

/* About Me */

.intro-box{
margin-top:0px;    
min-width:100%;
margin-left:0px;
margin-right:0px;
}

.summary-card{
width:95%;
height:200px;
}

.sum-icon{
font-size:30px;  
margin:20px;
}




/* Project Showcase/ Grid */


#grid-id{
height:400px;
}


.back-card{
width:95%;
top:-15px;
left:-15px;
height:650px;
}
.fore-card{
top:20px;
left:20px;
height:650px;
}

#grid-id > .card-deck > .card{
max-width: 16rem;
height:10rem;
}

#grid-id > .card-deck > .card > .card-img-top{
height:10rem;
}

#grid-id > .card-deck > .card > i{
font-size:7rem;
}

.card-head-ct{
margin-top: 35.75px;
}

.card-head{
padding-top:3rem;
}

.mgx-aut{
margin-right:auto;
margin-left:auto;
}

/* Project Highlights */



.hlight-card{
min-width:100%;
height:180vh;
}
.project-txt-card{
min-width:50%;
height:95%;
margin-right:auto;
margin-left:auto;
}

.hlight-card > .project2 > .col > .hlight-xtra > .card-column{
height:65px;
margin:32px 15% auto 15%;
}

.hlight-xtra{
margin-right:auto;
margin-left:auto;
}

.hlight-img{
margin-right:auto;
margin-left:auto;
padding:10px;
height:10rem;
width: 16rem;
}


}

@media screen and (max-width: 599px) and (min-width:0px){

html{
width:100%;
}

body{
font-size:14px;
width:100vw;
}

h1{
font-size: 1.9rem; /* Default is 2em*/
}

h2{
font-size: 1.425rem; /* Default is 1.5em */
}

h3{
font-size: 1.1115rem; /* Default is 1.17em */
}

h5{
font-size: 0.95rem;
font-weight:600;
}

/* Nav Bar */

nav{
width:100%;
height:28vh;
}

.navbar-nav{
font-size:14px;
}

.navbar-brand{
display:none;
}

/* About Me */


.intro-box{
margin-top:0px;
min-width:100%;
margin-left:0px;
margin-right:0px;
height:1200px;
}

.about-img{
height:150px;
width:150px;
}

.summary-card{
width:95%;
height:500px;
}

.sum-icon{
font-size:30px;  
margin:20px;
}

.sum-col{
min-width:100%;
}

.intro-inset{
display:none;
}

.sec-indiv{
display:block;
}    
    
.intro-p{
width:90%;
}    
    

/* Project Showcase/ Grid */


#grid-id{
height:550px;
}


.back-card{
width:95%;
top:-15px;
left:-15px;
height:795px;
}
.fore-card{
top:20px;
left:20px;
height:795px;
}

#grid-id > .card-deck > .card{
max-width: 16rem;
height:10rem;
}

#grid-id > .card-deck > .card > .card-img-top{
height:10rem;
}

#grid-id > .card-deck > .card > i{
font-size:7rem;
}

.card-head-ct{
margin-top: 35.75px;
}

.card-head{
padding-top:3rem;
}

.deck2{
display:none;
}

.mgx-aut{
margin-right:auto;
margin-left:auto;
}

/* Project Highlights */



.hlight-card{
min-width:100%;
height:350vh;
}
.project-txt-card{
min-width:95%;
height:45%;
margin-right:2.5%;
margin-left:2.5%;
}


.hlight-xtra{
height:57%;
width:95%;
margin-right:auto;
margin-left:auto;
}

.hlight-xtra2{
height:55%;
width:95%;
margin-right:auto;
margin-left:auto;
}

.hlight-img{
height:8.75rem;
width: 14rem;
margin-right:auto;
margin-left:auto;
padding:5px;
margin:8% auto 10% auto;
}

.hlightxtra-head{
padding:10px 10px 5px 10px;
}

.hlight-list{
list-style-type:decimal;
margin:15px;
}

.hlight-p{
margin:10px;
}

.pjtxtra-card{
min-width:95%;
}

/* Contact Info */

.contact-title{
width:75%;
}

}

