/* Layout 2 blank CSS */


/* Fonts and such */
body{
font-family: 'Work+Sans', sans-serif;
}

h1, h2, h3{
font-family: 'Roboto', sans-serif;
}

.navbar > div > ul > .nav-item > .nav-link{
font-family: 'Roboto', sans-serif;
}


/*  Nav Bar CSS  */

.navbar > div > ul > .nav-item:hover{
border-bottom:2px solid #878787;
}

.navbar > div > .navbar-brand{
margin-top:5px;
margin-bottom:3px;
}

.navbar > div > ul > .nav-item > .nav-link:hover{
color:#878787;
}


.navbar > div > ul > .nav-item, .navbar > div{
padding-top:2px;
border-bottom:2px solid white;
background-color: white;

}

/*  About Me CSS  */



#about-me{
width:100%;
margin-bottom:50px;
height:900px;
}

#about-me > img{
height:250px;
width:250px;
margin-top:150px;
margin-bottom:100px;
display:block;
}


.intro-box{
background-color: white;
border-radius:10px;
height:200px;
width:75%;
margin-top:50px;

}
    

.intro-p{
width:75%;
}

.summary-card{
width:45%;
height:200px;
margin-bottom:50px;
}


.sum-col{
width:25%;
}

.sum-list{
list-style-type:none;
}

#about-me > .summary-card > .row > .sum-col > .sum-icon{
font-size:50px;  
margin:20px;
}

.sum-heading{
margin:30px 20px 10px 20px;
}
    

/*  Project showcase CSS  */

#project-showcase{
width:100%;
}
.showcase-p{
width: 35%;

}

#grid-id{
padding:30px;
}

.showcase-heading{
margin:50px;
}

.card-filled{
border:none;
}



#grid-id > .card-deck > .card{
max-width: 24rem;
height:15rem;
/* border:none; */
background-color:rgba(255,255,255,0.00);
}



#grid-id > .card-deck > .card > i{
font-size: 10rem;
filter: blur(3px) opacity(0.25);
}

.card-head-ct{
margin-top:71.5px;
color: black;
background-color:transparent;
}

.card-head{
height:2rem;
padding-top:6rem;
}

#grid-id > .card-deck > .card > .card-img-overlay > .btn{
background-color:black;
color:white;

}

#grid-id > .card-deck > .card > .card-img-top{
filter:blur(2px) opacity(50%);
height:15rem;
z-index:-1;
}


#grid-id > .card-deck > .card > .card-img-overlay > .btn:hover{
background-color: #878787;
color: white;
}

#grid-id > .card-deck > .card:hover{
background-color:rgba(255,255,255,0.50);
}


/*  Top button CSS  */


.top-bttn > a > .btn{
font-size:50px;
background-color: rgba(255,255,255,.75);

}
.top-bttn{
left:50px;
bottom:50px;
position:fixed;

} 
#top-button > a > .btn:hover{
opacity:0.35;
}


/* Project Highlights CSS */

.project-heading{
border-bottom:1px solid #878787;
}

.highlight-list{
list-style-type:decimal;
}


#project-highlights > .row > .right-text > .btn{
background-color: black;
color:white;
font-size:0.75rem;
box-shadow:1px 1px #878787;
width:100%;
}

#project-highlights > .row > .right-text > .btn:hover{
color:white;
background-color: #5A5A5A;
}

#project-highlights > .row > .right-text{
max-width:40%;
margin-right:5%;
margin-left:5%;
border:0px solid black;
}

#project-highlights > .row > .col > .highlight-img{
height:12.5rem;
width:20rem;
margin-right:32%;
margin-left:32%;
margin-top:95.5px;
}


.heading-spacing{
margin-top:30px;
margin-bottom:30px;
margin-left:30px;
}

/* Contact Me CSS */

.contact{
width:100%;
z-index:-1;
margin-bottom:0px;
height:100px;
}

.contact-title{

}

#contact-me > .social-row   .btn{
font-size:24px;
}

#contact-me > .social-row   .btn:hover{
color:#878787;
}

