// SCSS for buttons

  // Should make a static version of this mixin at some point

@mixin stdButton{
  @include btnShadowMid;
  height:2rem;
  width:5rem;
  color:white;
  border:1px solid white;
  border-radius:3px;
  background-color:$liteOrange;
  &:active{
    @include btnShadowLow;
    background-color:#C66024;
  }

  &:hover{
    background-color:#C66024;
  }
}

@mixin btnShadowLow{
  box-shadow: 0rem 0.0625rem .30rem .1rem rgba(0,0,0,.25);
}

// Box shadow "mid height" from the ground
@mixin btnShadowMid{
  box-shadow: 0rem 0.125rem .30rem .1rem rgba(0,0,0,.25);
}
