// SCSS for colors

$liteOrange:#E39060; // buttons
$darkOrange: #C66024; //button:active
$stdGreen: #25806A; // for nav mobile
$darkGreen:#02503D; // for nav laptops
$darkBlue: #092851; // for text
$stdGrey: #E8e8e8; // for background
$liteGreen:#509181; // nav:hover and anchor elements
$medDarkGreen:#3A6A5E;// anchor:hover
$ultLiteGreen:#68978C; //
$liteBlue:#7F95B2; // borders/ subheadings

// Should standardize the names/ use more descriptive names