
nav {
  margin: auto;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.nav-header {
  background: #842df3;
  opacity: 0.8;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.nav-header::before {
  display: block;
  position: absolute;
  z-index: -1;
  content: "";
  top: -8px;
  left: -8px;
  width: 48px;
  height: 48px;
  background: #41d16a;
  opacity: 0.8;
}


.nav-list {
  list-style-type: none;
  padding-left: 0;
}

.nav-list-item {
  margin-right: 16px;
  display: inline-block;
  position: relative;

}

.nav-link:link {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link:visited {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link:hover::after {
  width: 100%;
  /* right: 0; */
}

.nav-link::after{
  content: '';
  background: rgba(201, 35, 201, 0.5);
  border-bottom: 1px solid rgb(141, 0, 141);
  height: 12px;
  opacity: 0.8;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.15s;
  width: 0;
  z-index: -2;
}

.home-link:link, .home-link:visited {
  color: white;
  text-decoration: none;
}

.nav-header:hover {
  background:#41d16a;
}

.nav-header:hover::before {
  background: #842df3;
}