
nav {
  margin: auto;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.nav-header {
  background: #842df3;
  opacity: 80%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.nav-header::before {
  display: block;
  position: absolute;
  z-index: -1;
  content: "";
  top: -8px;
  left: -8px;
  width: 48px;
  height: 48px;
  background: #41d16a;
  opacity: 80%;
}


.nav-list {
  list-style-type: none;
}

a.nav-link {
  margin-right: 8px;
}

a.nav-link:link {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

a.nav-link:visited {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
