/* Global */
header {
  padding-top: 0.5rem;
  width: 100%;
}

.name {
  font-size: 1.75rem;
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  background-color: rgba(223, 210, 185, 0.658);
  text-decoration: none;
}

.name:link {
  color: black;
}

.name:visited {
  color: black;
}

.name:hover {
  background-color: rgba(223, 200, 158, 0.9);
}

.name:focus {
  text-decoration: underline;
}
/* Mobile Nav */
.mobile-header {
  width: 100%;
  display: flex;
  visibility: visible;
  justify-content: space-between;
  align-items: center;
}
.fade-in-enter-active, .fade-in-leave-active {
  transition: all .3s ease-in-out;
}
.fade-in-enter-to {
  transform: translateX(0px)
}

.fade-in-leave-to, .fade-in-enter {
  opacity: 0;
  transform: translateX(-768px);
}

.primary-nav-links {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
}

.wrap-close-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.close-btn {
  padding: 0.5rem 0.75rem;
  margin: 0;
  font-size: 1.75rem;
}
.nav-link {
  text-align: center;
  width: 100%;
  margin: 1rem 0;
  padding: 2rem 0;
  font-size: 3rem;
}

.nav-link:link {
  color: black;
}

.nav-link:visited {
  color: black;
}

.nav-link:focus {
  margin: calc(1rem - 1px) 0;
  border-top: 1px;
  border-bottom: 1px;
  border-right: 0;
  border-left: 0;
  border-style:solid;
  border-color: rgba(240, 240, 240, 0.85);
  background: rgba(255, 255, 255, 0.75);
}

.nav-link:hover {
  margin: calc(1rem - 1px) 0;
  border-top: 1px;
  border-bottom: 1px;
  border-right: 0;
  border-left: 0;
  border-style:solid;
  border-color: rgba(240, 240, 240, 0.85);
  background: rgba(255, 255, 255, 0.75);
}

@media only screen and (min-width: 1024px) {
  .mobile-header {
    display: none;
    visibility: hidden;
  }
}

/* Desktop Nav */
.nav-desktop {
  display: none;
  visibility: hidden;
}
@media only screen and (min-width: 1024px) {
  .nav-desktop {
    width: 100%;
    display: flex;
    margin: 1rem 0;
    padding: 0.25rem 0;
    visibility: visible;
    align-items: baseline;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
  }
  .nav-link--desktop {
    margin: 0 0.5rem;
    font-size: 1.75rem;
    position: relative;
    text-decoration: none;
  }
  .nav-link--desktop:link {
    color: black;
  }

  .nav-link--desktop:visited {
    color: black;
  }

  .nav-link--desktop:hover::after {
    width: 100%;
    right: auto;
    left: 0;
  }

  .nav-link--desktop::after {
    content: "";
    background: rgb(194, 184, 255);
    height: 1rem;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 50%;
    transition: all 0.15s;
    width: 0;
    z-index: -1;
  }
}