.icon {
  color: rgba(73, 73, 73, 0.8);
  width: 35px;
}
li {
  margin: 0;
}
.list-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  max-height: 10rem;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  transition: max-height 0.3s ease-in-out;
}

.link {
  padding: 0.5rem;
  width: 100%;
  text-decoration: none;
}
.link:link {
  color: black;
}

.link:visited {
  color: black;
}

.link:focus {
  background: rgb(230, 230, 230);
}

.link:hover {
  background: rgb(230, 230, 230);
}

.link:active {
  background: rgb(230, 230, 230);
}

h2 {
  margin: 0 0.25rem;
}

.wrap-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 55%;
  height: 2.7rem;
  margin-right: 0rem;
  overflow-y: auto;
}

.title {
  min-width: 80%;
  font-size: 1.25rem;
  margin: 0 0.75rem;
}

.wrap-links {
  font-size: 1rem;
  margin: 0 1rem;
  padding-left: 0.25rem;
}

.wrap-excerpt {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

small {
  font-size: 0.9rem;
}

.link-project {
  display: block;
}

.btn-expand {
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  /* padding: 0.5rem 1rem; */
  border: 1px solid darkgrey;
  border-radius: 0.5rem;
  background-color: transparent;
}

.btn-expand:hover {
background-color: rgba(209, 209, 209, 0.6);
}

.expanded {
  font-size: 1rem;
  padding-left: 3.5rem;
  overflow-y: auto;
  transition: all 0.2s ease-in-out;
}

@media only screen and (min-width: 1024px) {
  .wrap-title {
    width: 50%;
    margin-right: 0.75rem;
  }

  .wrap-excerpt {
    width: 48%;
  }
}

@media only screen and (min-width: 1440px) {
  .wrap-excerpt {
    width: 45%;
  }
  .expanded {
    width: 100%;
  }
}