// SCSS for base components

// Base elements Styling

:root{
  background-color: $stdGrey;
  font-family: "Helvetica", sans-serif;
}

body{
  @include zeroAll;

}

main{
  padding-top: 4rem;

  @include breakpoint-min($bp-lg){
    width:78vw;
    float:right;
  }
}

a{
  color:$liteGreen;
  text-decoration: none;
  &:hover{
    color:$medDarkGreen;
  }
}

.heading--lg{
  @include headingText(2.75rem, center);
  color: white;
  text-shadow: 2px 2px rgba(122,122,122,.59);
  border: 2px white groove;
  box-shadow: 2px 2px rgba(122,122,122,.59);
  user-select: none;
  padding: 10px 5px;
}