// SCSS for the contact section

.contact{
  @include sectionSpacing;
  color:$darkBlue;
}

.contact__heading{
  @include headingText(2rem,center);
}

.contact__p{
  @include centerSides;
  @include samePaddingY(1.25rem);
  width:85%;
  @include breakpoint-min($bp-lg){
    width:55%;
  }
}

.contact__form{
  @include centerSides;
  @include samePaddingY(2rem);
  @include shadowLow;
  background-color:white;
  width:65%;
  padding-left:1.25rem;
  padding-right:1.25rem;
  @include breakpoint-min($bp-sm){
    width:22.5rem;
    padding-left:2rem;
    padding-right:0rem;
  }

}

.contact__label{
  font-size:1rem;
}

.contact__input{
  //@include shadowIn;
  display:block;
  height:1.5rem;
  margin-bottom:.5rem;
  margin-top:.25rem;
  width:75%;
  border:.75px solid $liteBlue;
  border-radius: 2px;
}

.contact__textbox{
  //@include shadowIn;
  display:block;
  margin-top:.25rem;
  margin-bottom:.5rem;

  height:5rem;
  min-height:1.5rem;

  width:75%;
  max-width:75%;

  border:.75px solid $liteBlue;
  border-radius: 2px;
  font-family: 'Helvetica', sans-serif;
}

.contact__button{
  @include sameMarginY(1rem);
  @include stdButton;
  display:block;
}
