/* Portfolio CSS */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
:root {
  background-color: #E8e8e8;
  font-family: "Helvetica", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 4rem;
}

@media (min-width: 1280px) {
  main {
    width: 78vw;
    float: right;
  }
}

a {
  color: #509181;
  text-decoration: none;
}

a:hover {
  color: #3A6A5E;
}

.nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #25806A;
  position: fixed;
  top: 0;
  font-size: 1.1rem;
  -webkit-box-shadow: 0rem 0.25rem 0.3rem 0.15rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.25rem 0.3rem 0.15rem rgba(0, 0, 0, 0.25);
}

@media (min-width: 1280px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100vh;
  }
}

.menu--nav {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100vw;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1280px) {
  .menu--nav {
    height: auto;
    width: 22vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.nav__header {
  display: none;
}

@media (min-width: 1280px) {
  .nav__header {
    max-width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.menu__item {
  background-color: #25806A;
  display: inline-block;
  width: calc((100% - 6px)/ 4);
}

@media (min-width: 1280px) {
  .menu__item {
    width: 100%;
  }
}

.menu__item:hover:not(.menu--disabled) {
  -webkit-box-shadow: 0rem 0.15rem 0.2rem 0.1rem rgba(0, 0, 0, 0.05) inset;
          box-shadow: 0rem 0.15rem 0.2rem 0.1rem rgba(0, 0, 0, 0.05) inset;
  background-color: #509181;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-decoration: none;
  height: 100%;
}

.menu__link:hover {
  color: rgba(227, 227, 227, 0.85);
}

@media (min-width: 1280px) {
  .menu__link {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    width: 60%;
  }
}

.menu__icon {
  height: 25px;
  font-size: 25px;
  text-align: center;
  padding: 2px 0;
}

@media (min-width: 1280px) {
  .menu__icon {
    height: 2.25rem;
    font-size: 2.25rem;
  }
}

.social-row {
  display: none;
}

@media (min-width: 1280px) {
  .social-row {
    max-width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 50%;
  }
}

.social-row__icon {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.8);
}

.social-row__icon:hover {
  color: rgba(190, 190, 190, 0.65);
}

@media (min-width: 1280px) {
  .social-row__icon {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

.menu__text {
  text-align: center;
}

.menu__link--border {
  border-right: 1px solid rgba(255, 255, 255, 0.75);
}

@media (min-width: 1280px) {
  .menu__link--border {
    border-right: 0;
    border-bottom: 1.2px solid rgba(255, 255, 255, 0.75);
  }
}

.menu--disabled {
  color: rgba(200, 200, 200, 0.75);
}

.intro {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0rem 0rem 0.3rem 0.2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0rem 0.3rem 0.2rem rgba(0, 0, 0, 0.25);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  width: 90%;
  color: #092851;
  margin-top: 2rem;
  margin-bottom: 4rem;
  background-color: white;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .intro {
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 70%;
  }
}

@media (min-width: 1440px) {
  .intro {
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 60%;
  }
}

.intro__heading {
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  width: 90%;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .intro__heading {
    font-size: 2.75rem;
    text-align: left;
  }
}

.intro__sub-heading {
  display: none;
}

@media (min-width: 1280px) {
  .intro__sub-heading {
    margin-left: auto;
    margin-right: auto;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    color: #7F95B2;
    margin-top: 0;
    margin-bottom: 5rem;
    display: block;
    width: 90%;
  }
}

.intro__p {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-indent: 20px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.125;
}

@media (min-width: 1440px) {
  .intro__p {
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    font-size: 1.375rem;
  }
}

/* Works needs to be done in CSS grid (might be better as a mixin???) */
.works {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0rem 0rem 0.3rem 0.2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0rem 0.3rem 0.2rem rgba(0, 0, 0, 0.25);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  width: 95%;
  color: #092851;
  background-color: white;
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .works {
    width: 80%;
  }
}

@media (min-width: 1440px) {
  .works {
    width: 75%;
  }
}

.works__flex-ctr {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1280px) {
  .works__flex-ctr {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.works__heading {
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.works__ctr {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .works__ctr {
    max-width: 65%;
  }
}

@media (min-width: 1280px) {
  .works__ctr {
    max-width: 40%;
  }
}

.card {
  -webkit-box-shadow: 0rem 0rem 0.3rem 0.1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0rem 0.3rem 0.1rem rgba(0, 0, 0, 0.25);
  width: 100%;
  margin-bottom: 2.5rem;
  padding-bottom: 1rem;
}

.card__heading {
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: initial;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  margin: 0 auto;
}

.card__img {
  width: 100%;
}

.stack-row {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.stack__img {
  max-height: 2rem;
}

.card__p {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-indent: 20px;
}

.card__link-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card__link {
  text-align: center;
}

.contact {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  color: #092851;
}

.contact__heading {
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.contact__p {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  width: 85%;
}

@media (min-width: 1280px) {
  .contact__p {
    width: 55%;
  }
}

.contact__form {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  -webkit-box-shadow: 0rem 0rem 0.3rem 0.2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0rem 0.3rem 0.2rem rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 65%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 768px) {
  .contact__form {
    width: 22.5rem;
    padding-left: 2rem;
    padding-right: 0rem;
  }
}

.contact__label {
  font-size: 1rem;
}

.contact__input {
  display: block;
  height: 1.5rem;
  margin-bottom: .5rem;
  margin-top: .25rem;
  width: 75%;
  border: 0.75px solid #7F95B2;
  border-radius: 2px;
}

.contact__textbox {
  display: block;
  margin-top: .25rem;
  margin-bottom: .5rem;
  height: 5rem;
  min-height: 1.5rem;
  width: 75%;
  max-width: 75%;
  border: 0.75px solid #7F95B2;
  border-radius: 2px;
  font-family: 'Helvetica', sans-serif;
}

.contact__button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0rem 0.125rem 0.3rem 0.1rem rgba(0, 0, 0, 0.35), 0rem -0.0625rem 0.3rem 0.1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0rem 0.125rem 0.3rem 0.1rem rgba(0, 0, 0, 0.35), 0rem -0.0625rem 0.3rem 0.1rem rgba(0, 0, 0, 0.15);
  height: 2rem;
  width: 5rem;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  background-color: #E39060;
  display: block;
}

.contact__button:active {
  -webkit-box-shadow: 0rem 0.0625rem 0.3rem 0.05rem rgba(0, 0, 0, 0.45), 0rem -0.0625rem 0.3rem 0.05rem rgba(0, 0, 0, 0.15);
          box-shadow: 0rem 0.0625rem 0.3rem 0.05rem rgba(0, 0, 0, 0.45), 0rem -0.0625rem 0.3rem 0.05rem rgba(0, 0, 0, 0.15);
  background-color: #C66024;
}

.contact__button:hover {
  background-color: #C66024;
}
/*# sourceMappingURL=main.css.map */