// New breakpoints mixins and variables


$bp-xs: 425px;
$bp-sm: 768px;
$bp-med: 992px;
$bp-lg:1280px;
$bp-xl:1440px;
$bp-xxl:1920px;


@mixin breakpoint-min($bp) {
  @media (min-width: $bp) {
    @content;
  }
}


@mixin breakpoint-min-max($bp1, $bp2) {
  @media (min-width: $bp1) and (max-width: $bp2 - 1) {
    @content;
  }
}

