// SCSS for base components

// Base Styling

:root{
    background-color: $stdGrey;
    font-family: "Helvetica", sans-serif;
}

body{
    @include zeroAll;

}

main{
    padding-top: 4rem;
    
    @media #{$laptop},#{$desktop}{
        width:78vw;
        float:right;
    } 
}

a{
    color:$liteGreen;
    text-decoration: none;
    &:hover{
        color:$medDarkGreen;
    }
}

// Extra

.section__div{
    @include centerSides;
    width:75%;
}