// SCSS for base components

// Media query variables
$tablet: "screen and (min-width:767px) and (max-width:1022px)";
$laptop: "screen and (min-width:1024px)and (max-width:1440px)";
$desktop: "screen and (min-width:1441px)";

// Standard content template mixins

@mixin stdContentSection($width){
    @include centerSides;
    @include shadowLow;
    @include sectionSpacing;
    width:$width;
    color:$darkBlue;
}

// Base elements Styling

:root{
    background-color: $stdGrey;
    font-family: "Helvetica", sans-serif;
}

body{
    @include zeroAll;

}

main{
    padding-top: 4rem;
    
    @media #{$laptop},#{$desktop}{
        width:78vw;
        float:right;
    } 
}

a{
    color:$liteGreen;
    text-decoration: none;
    &:hover{
        color:$medDarkGreen;
    }
}
