// SCSS for the intro section

.intro{
    @include stdContentSection(90%);
    margin-top:2rem;
    background-color:white;
    @media #{$laptop},#{$tablet}{
        @include sameMarginY(10rem);
        @include samePaddingY(3rem);
        width:70%;
    }
    @media #{$desktop}{
        @include sameMarginY(6.5rem);
        @include samePaddingY(5rem);
        width:60%;
    }
}

.intro__heading{
    @include headingTxt(2rem,center);
    width:90%;
    margin-bottom:0;
    @media #{$tablet},#{$laptop},#{$desktop}{
        font-size:2.75rem;
        text-align: left;
    }
}   

.intro__sub-heading{
    display:none;
    @media #{$tablet},#{$laptop},#{$desktop}{
        @include headingTxt(1.5rem,left);
        color:$liteBlue;
        margin-top:0;
        margin-bottom:5rem;
        display:block;
        width:90%;
    }
}

.intro__p{
    @include stdParagraph;
    @include sameMarginY(1.5rem);
    line-height:1.125;
    @media #{$desktop}{
        @include sameMarginY(1.125rem);
        font-size: 1.375rem;
    }
}

